<a href="https://colab.research.google.com/github/eshaandinesh/Colab/blob/main/Join.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyspark
import pyspark
from pyspark.sql import SparkSession

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.0)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [ ]:
from google.colab import files


uploaded1 = files.upload()
uploaded2 = files.upload()

Saving ABC_1st_half.csv to ABC_1st_half.csv

Saving ABC_2nd_half.csv to ABC_2nd_half.csv

In [ ]:
spark = SparkSession.builder.appName("Join").getOrCreate()

df1 = spark.read.format("csv").option("header", "true").option("inferSchema", "true").load("ABC_1st_half.csv")
df2 = spark.read.format("csv").option("header", "true").option("inferSchema", "true").load("ABC_2nd_half.csv")

df1.show()
df2.show()

+-------+---+-----------+--------+-------------------+-------+-------+-------+---------+
|Cust_id|age|        job| marital|          education|default|housing|   loan|  contact|
+-------+---+-----------+--------+-------------------+-------+-------+-------+---------+
|      1| 56|  housemaid| married|           basic.4y|     no|     no|     no|telephone|
|      2| 57|   services| married|        high.school|unknown|     no|     no|telephone|
|      4| 40|     admin.| married|           basic.6y|     no|     no|     no|telephone|
|      5| 56|   services| married|        high.school|     no|     no|    yes|telephone|
|      8| 41|blue-collar| married|            unknown|unknown|     no|     no|telephone|
|      9| 24| technician|  single|professional.course|     no|    yes|     no|telephone|
|     11| 41|blue-collar| married|            unknown|unknown|     no|     no|telephone|
|     12| 25|   services|  single|        high.school|     no|    yes|     no|telephone|
|     13| 29|blue-collar|  single|        high.school|     no|     no|    yes|telephone|
|     14| 57|  housemaid|divorced|           basic.4y|     no|    yes|     no|telephone|
|     18| 46|blue-collar| married|           basic.6y|unknown|    yes|    yes|telephone|
|     19| 50|blue-collar| married|           basic.9y|     no|    yes|    yes|telephone|
|     20| 39| management|  single|           basic.9y|unknown|     no|     no|telephone|
|     22| 55|blue-collar| married|           basic.4y|unknown|    yes|     no|telephone|
|     23| 55|    retired|  single|        high.school|     no|    yes|     no|telephone|
|     25| 37|     admin.| married|        high.school|     no|    yes|     no|telephone|
|     26| 35| technician| married|  university.degree|     no|     no|    yes|telephone|
|     27| 59| technician| married|            unknown|     no|    yes|     no|telephone|
|     29| 54| technician|  single|  university.degree|unknown|     no|     no|telephone|
|     30| 55|    unknown| married|  university.degree|unknown|unknown|unknown|telephone|
+-------+---+-----------+--------+-------------------+-------+-------+-------+---------+
only showing top 20 rows

+-------+-----+-----------+--------+--------+-----+--------+-----------+------------+--------------+-------------+---------+-----------+---+
|Cust_id|month|day_of_week|duration|campaign|pdays|previous|   poutcome|emp.var.rate|cons.price.idx|cons.conf.idx|euribor3m|nr.employed|  y|
+-------+-----+-----------+--------+--------+-----+--------+-----------+------------+--------------+-------------+---------+-----------+---+
|      1|  may|        mon|     261|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191| no|
|      3|  may|        mon|     226|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191| no|
|      4|  may|        mon|     151|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191| no|
|      5|  may|        mon|     307|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191| no|
|      6|  may|        mon|     198|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191| no|
|      7|  may|        mon|     139|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191| no|
|      8|  may|        mon|     217|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191| no|
|     10|  may|        mon|      50|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191| no|
|     11|  may|        mon|      55|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191| no|
|     12|  may|        mon|     222|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191| no|
|     15|  may|        mon|     146|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191| no|
|     16|  may|        mon|     174|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191| no|
|     17|  may|        mon|     312|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191| no|
|     18|  may|        mon|     440|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191| no|
|     21|  may|        mon|      38|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191| no|
|     22|  may|        mon|     262|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191| no|
|     23|  may|        mon|     342|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191| no|
|     24|  may|        mon|     181|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191| no|
|     25|  may|        mon|     172|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191| no|
|     26|  may|        mon|      99|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191| no|
+-------+-----+-----------+--------+--------+-----+--------+-----------+------------+--------------+-------------+---------+-----------+---+
only showing top 20 rows

In [ ]:
inner_join_df = df1.join(df2,"Cust_id",'inner')
inner_join_df.show()

+-------+---+-----------+--------+-----------------+-------+-------+-------+---------+-----+-----------+--------+--------+-----+--------+-----------+------------+--------------+-------------+---------+-----------+---+
|Cust_id|age|        job| marital|        education|default|housing|   loan|  contact|month|day_of_week|duration|campaign|pdays|previous|   poutcome|emp.var.rate|cons.price.idx|cons.conf.idx|euribor3m|nr.employed|  y|
+-------+---+-----------+--------+-----------------+-------+-------+-------+---------+-----+-----------+--------+--------+-----+--------+-----------+------------+--------------+-------------+---------+-----------+---+
|      1| 56|  housemaid| married|         basic.4y|     no|     no|     no|telephone|  may|        mon|     261|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191| no|
|      4| 40|     admin.| married|         basic.6y|     no|     no|     no|telephone|  may|        mon|     151|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191| no|
|      5| 56|   services| married|      high.school|     no|     no|    yes|telephone|  may|        mon|     307|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191| no|
|      8| 41|blue-collar| married|          unknown|unknown|     no|     no|telephone|  may|        mon|     217|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191| no|
|     11| 41|blue-collar| married|          unknown|unknown|     no|     no|telephone|  may|        mon|      55|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191| no|
|     12| 25|   services|  single|      high.school|     no|    yes|     no|telephone|  may|        mon|     222|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191| no|
|     18| 46|blue-collar| married|         basic.6y|unknown|    yes|    yes|telephone|  may|        mon|     440|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191| no|
|     22| 55|blue-collar| married|         basic.4y|unknown|    yes|     no|telephone|  may|        mon|     262|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191| no|
|     23| 55|    retired|  single|      high.school|     no|    yes|     no|telephone|  may|        mon|     342|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191| no|
|     25| 37|     admin.| married|      high.school|     no|    yes|     no|telephone|  may|        mon|     172|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191| no|
|     26| 35| technician| married|university.degree|     no|     no|    yes|telephone|  may|        mon|      99|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191| no|
|     27| 59| technician| married|          unknown|     no|    yes|     no|telephone|  may|        mon|      93|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191| no|
|     29| 54| technician|  single|university.degree|unknown|     no|     no|telephone|  may|        mon|     255|       2|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191| no|
|     30| 55|    unknown| married|university.degree|unknown|unknown|unknown|telephone|  may|        mon|     362|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191| no|
|     31| 46|     admin.| married|          unknown|     no|     no|     no|telephone|  may|        mon|     348|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191| no|
|     33| 49|blue-collar| married|          unknown|     no|     no|     no|telephone|  may|        mon|      73|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191| no|
|     34| 54| management| married|         basic.4y|unknown|    yes|     no|telephone|  may|        mon|     230|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191| no|
|     35| 54|blue-collar|divorced|         basic.4y|     no|     no|     no|telephone|  may|        mon|     208|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191| no|
|     37| 34|   services| married|      high.school|     no|     no|     no|telephone|  may|        mon|     365|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191| no|
|     38| 52| technician| married|         basic.9y|     no|    yes|     no|telephone|  may|        mon|    1666|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191| no|
+-------+---+-----------+--------+-----------------+-------+-------+-------+---------+-----+-----------+--------+--------+-----+--------+-----------+------------+--------------+-------------+---------+-----------+---+
only showing top 20 rows

In [ ]:
left_join_df = df1.join(df2,"Cust_id",'left')
left_join_df.show()

+-------+---+-----------+--------+-------------------+-------+-------+-------+---------+-----+-----------+--------+--------+-----+--------+-----------+------------+--------------+-------------+---------+-----------+----+
|Cust_id|age|        job| marital|          education|default|housing|   loan|  contact|month|day_of_week|duration|campaign|pdays|previous|   poutcome|emp.var.rate|cons.price.idx|cons.conf.idx|euribor3m|nr.employed|   y|
+-------+---+-----------+--------+-------------------+-------+-------+-------+---------+-----+-----------+--------+--------+-----+--------+-----------+------------+--------------+-------------+---------+-----------+----+
|      1| 56|  housemaid| married|           basic.4y|     no|     no|     no|telephone|  may|        mon|     261|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191|  no|
|      2| 57|   services| married|        high.school|unknown|     no|     no|telephone| NULL|       NULL|    NULL|    NULL| NULL|    NULL|       NULL|        NULL|          NULL|         NULL|     NULL|       NULL|NULL|
|      4| 40|     admin.| married|           basic.6y|     no|     no|     no|telephone|  may|        mon|     151|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191|  no|
|      5| 56|   services| married|        high.school|     no|     no|    yes|telephone|  may|        mon|     307|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191|  no|
|      8| 41|blue-collar| married|            unknown|unknown|     no|     no|telephone|  may|        mon|     217|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191|  no|
|      9| 24| technician|  single|professional.course|     no|    yes|     no|telephone| NULL|       NULL|    NULL|    NULL| NULL|    NULL|       NULL|        NULL|          NULL|         NULL|     NULL|       NULL|NULL|
|     11| 41|blue-collar| married|            unknown|unknown|     no|     no|telephone|  may|        mon|      55|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191|  no|
|     12| 25|   services|  single|        high.school|     no|    yes|     no|telephone|  may|        mon|     222|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191|  no|
|     13| 29|blue-collar|  single|        high.school|     no|     no|    yes|telephone| NULL|       NULL|    NULL|    NULL| NULL|    NULL|       NULL|        NULL|          NULL|         NULL|     NULL|       NULL|NULL|
|     14| 57|  housemaid|divorced|           basic.4y|     no|    yes|     no|telephone| NULL|       NULL|    NULL|    NULL| NULL|    NULL|       NULL|        NULL|          NULL|         NULL|     NULL|       NULL|NULL|
|     18| 46|blue-collar| married|           basic.6y|unknown|    yes|    yes|telephone|  may|        mon|     440|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191|  no|
|     19| 50|blue-collar| married|           basic.9y|     no|    yes|    yes|telephone| NULL|       NULL|    NULL|    NULL| NULL|    NULL|       NULL|        NULL|          NULL|         NULL|     NULL|       NULL|NULL|
|     20| 39| management|  single|           basic.9y|unknown|     no|     no|telephone| NULL|       NULL|    NULL|    NULL| NULL|    NULL|       NULL|        NULL|          NULL|         NULL|     NULL|       NULL|NULL|
|     22| 55|blue-collar| married|           basic.4y|unknown|    yes|     no|telephone|  may|        mon|     262|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191|  no|
|     23| 55|    retired|  single|        high.school|     no|    yes|     no|telephone|  may|        mon|     342|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191|  no|
|     25| 37|     admin.| married|        high.school|     no|    yes|     no|telephone|  may|        mon|     172|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191|  no|
|     26| 35| technician| married|  university.degree|     no|     no|    yes|telephone|  may|        mon|      99|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191|  no|
|     27| 59| technician| married|            unknown|     no|    yes|     no|telephone|  may|        mon|      93|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191|  no|
|     29| 54| technician|  single|  university.degree|unknown|     no|     no|telephone|  may|        mon|     255|       2|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191|  no|
|     30| 55|    unknown| married|  university.degree|unknown|unknown|unknown|telephone|  may|        mon|     362|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191|  no|
+-------+---+-----------+--------+-------------------+-------+-------+-------+---------+-----+-----------+--------+--------+-----+--------+-----------+------------+--------------+-------------+---------+-----------+----+
only showing top 20 rows

In [ ]:
right_join_df = df1.join(df2,"Cust_id",'right')
right_join_df.show()

+-------+----+-----------+-------+-----------------+-------+-------+----+---------+-----+-----------+--------+--------+-----+--------+-----------+------------+--------------+-------------+---------+-----------+---+
|Cust_id| age|        job|marital|        education|default|housing|loan|  contact|month|day_of_week|duration|campaign|pdays|previous|   poutcome|emp.var.rate|cons.price.idx|cons.conf.idx|euribor3m|nr.employed|  y|
+-------+----+-----------+-------+-----------------+-------+-------+----+---------+-----+-----------+--------+--------+-----+--------+-----------+------------+--------------+-------------+---------+-----------+---+
|      1|  56|  housemaid|married|         basic.4y|     no|     no|  no|telephone|  may|        mon|     261|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191| no|
|      3|NULL|       NULL|   NULL|             NULL|   NULL|   NULL|NULL|     NULL|  may|        mon|     226|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191| no|
|      4|  40|     admin.|married|         basic.6y|     no|     no|  no|telephone|  may|        mon|     151|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191| no|
|      5|  56|   services|married|      high.school|     no|     no| yes|telephone|  may|        mon|     307|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191| no|
|      6|NULL|       NULL|   NULL|             NULL|   NULL|   NULL|NULL|     NULL|  may|        mon|     198|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191| no|
|      7|NULL|       NULL|   NULL|             NULL|   NULL|   NULL|NULL|     NULL|  may|        mon|     139|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191| no|
|      8|  41|blue-collar|married|          unknown|unknown|     no|  no|telephone|  may|        mon|     217|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191| no|
|     10|NULL|       NULL|   NULL|             NULL|   NULL|   NULL|NULL|     NULL|  may|        mon|      50|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191| no|
|     11|  41|blue-collar|married|          unknown|unknown|     no|  no|telephone|  may|        mon|      55|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191| no|
|     12|  25|   services| single|      high.school|     no|    yes|  no|telephone|  may|        mon|     222|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191| no|
|     15|NULL|       NULL|   NULL|             NULL|   NULL|   NULL|NULL|     NULL|  may|        mon|     146|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191| no|
|     16|NULL|       NULL|   NULL|             NULL|   NULL|   NULL|NULL|     NULL|  may|        mon|     174|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191| no|
|     17|NULL|       NULL|   NULL|             NULL|   NULL|   NULL|NULL|     NULL|  may|        mon|     312|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191| no|
|     18|  46|blue-collar|married|         basic.6y|unknown|    yes| yes|telephone|  may|        mon|     440|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191| no|
|     21|NULL|       NULL|   NULL|             NULL|   NULL|   NULL|NULL|     NULL|  may|        mon|      38|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191| no|
|     22|  55|blue-collar|married|         basic.4y|unknown|    yes|  no|telephone|  may|        mon|     262|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191| no|
|     23|  55|    retired| single|      high.school|     no|    yes|  no|telephone|  may|        mon|     342|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191| no|
|     24|NULL|       NULL|   NULL|             NULL|   NULL|   NULL|NULL|     NULL|  may|        mon|     181|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191| no|
|     25|  37|     admin.|married|      high.school|     no|    yes|  no|telephone|  may|        mon|     172|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191| no|
|     26|  35| technician|married|university.degree|     no|     no| yes|telephone|  may|        mon|      99|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191| no|
+-------+----+-----------+-------+-----------------+-------+-------+----+---------+-----+-----------+--------+--------+-----+--------+-----------+------------+--------------+-------------+---------+-----------+---+
only showing top 20 rows

In [ ]:
full_outer_join_df = df1.join(df2,"Cust_id",'outer')
full_outer_join_df.show()

+-------+----+-----------+--------+-------------------+-------+-------+----+---------+-----+-----------+--------+--------+-----+--------+-----------+------------+--------------+-------------+---------+-----------+----+
|Cust_id| age|        job| marital|          education|default|housing|loan|  contact|month|day_of_week|duration|campaign|pdays|previous|   poutcome|emp.var.rate|cons.price.idx|cons.conf.idx|euribor3m|nr.employed|   y|
+-------+----+-----------+--------+-------------------+-------+-------+----+---------+-----+-----------+--------+--------+-----+--------+-----------+------------+--------------+-------------+---------+-----------+----+
|      1|  56|  housemaid| married|           basic.4y|     no|     no|  no|telephone|  may|        mon|     261|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191|  no|
|      3|NULL|       NULL|    NULL|               NULL|   NULL|   NULL|NULL|     NULL|  may|        mon|     226|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191|  no|
|      5|  56|   services| married|        high.school|     no|     no| yes|telephone|  may|        mon|     307|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191|  no|
|      6|NULL|       NULL|    NULL|               NULL|   NULL|   NULL|NULL|     NULL|  may|        mon|     198|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191|  no|
|      9|  24| technician|  single|professional.course|     no|    yes|  no|telephone| NULL|       NULL|    NULL|    NULL| NULL|    NULL|       NULL|        NULL|          NULL|         NULL|     NULL|       NULL|NULL|
|     12|  25|   services|  single|        high.school|     no|    yes|  no|telephone|  may|        mon|     222|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191|  no|
|     13|  29|blue-collar|  single|        high.school|     no|     no| yes|telephone| NULL|       NULL|    NULL|    NULL| NULL|    NULL|       NULL|        NULL|          NULL|         NULL|     NULL|       NULL|NULL|
|     15|NULL|       NULL|    NULL|               NULL|   NULL|   NULL|NULL|     NULL|  may|        mon|     146|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191|  no|
|     16|NULL|       NULL|    NULL|               NULL|   NULL|   NULL|NULL|     NULL|  may|        mon|     174|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191|  no|
|     17|NULL|       NULL|    NULL|               NULL|   NULL|   NULL|NULL|     NULL|  may|        mon|     312|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191|  no|
|     19|  50|blue-collar| married|           basic.9y|     no|    yes| yes|telephone| NULL|       NULL|    NULL|    NULL| NULL|    NULL|       NULL|        NULL|          NULL|         NULL|     NULL|       NULL|NULL|
|     20|  39| management|  single|           basic.9y|unknown|     no|  no|telephone| NULL|       NULL|    NULL|    NULL| NULL|    NULL|       NULL|        NULL|          NULL|         NULL|     NULL|       NULL|NULL|
|     22|  55|blue-collar| married|           basic.4y|unknown|    yes|  no|telephone|  may|        mon|     262|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191|  no|
|     26|  35| technician| married|  university.degree|     no|     no| yes|telephone|  may|        mon|      99|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191|  no|
|     27|  59| technician| married|            unknown|     no|    yes|  no|telephone|  may|        mon|      93|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191|  no|
|     28|NULL|       NULL|    NULL|               NULL|   NULL|   NULL|NULL|     NULL|  may|        mon|     233|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191|  no|
|     31|  46|     admin.| married|            unknown|     no|     no|  no|telephone|  may|        mon|     348|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191|  no|
|     34|  54| management| married|           basic.4y|unknown|    yes|  no|telephone|  may|        mon|     230|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191|  no|
|     35|  54|blue-collar|divorced|           basic.4y|     no|     no|  no|telephone|  may|        mon|     208|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191|  no|
|     37|  34|   services| married|        high.school|     no|     no|  no|telephone|  may|        mon|     365|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191|  no|
+-------+----+-----------+--------+-------------------+-------+-------+----+---------+-----+-----------+--------+--------+-----+--------+-----------+------------+--------------+-------------+---------+-----------+----+
only showing top 20 rows

In [ ]:
cross_join_df = df1.crossJoin(df2)
cross_join_df.show()

+-------+---+-----------+--------+-------------------+-------+-------+-------+---------+-------+-----+-----------+--------+--------+-----+--------+-----------+------------+--------------+-------------+---------+-----------+---+
|Cust_id|age|        job| marital|          education|default|housing|   loan|  contact|Cust_id|month|day_of_week|duration|campaign|pdays|previous|   poutcome|emp.var.rate|cons.price.idx|cons.conf.idx|euribor3m|nr.employed|  y|
+-------+---+-----------+--------+-------------------+-------+-------+-------+---------+-------+-----+-----------+--------+--------+-----+--------+-----------+------------+--------------+-------------+---------+-----------+---+
|      1| 56|  housemaid| married|           basic.4y|     no|     no|     no|telephone|      1|  may|        mon|     261|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191| no|
|      2| 57|   services| married|        high.school|unknown|     no|     no|telephone|      1|  may|        mon|     261|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191| no|
|      4| 40|     admin.| married|           basic.6y|     no|     no|     no|telephone|      1|  may|        mon|     261|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191| no|
|      5| 56|   services| married|        high.school|     no|     no|    yes|telephone|      1|  may|        mon|     261|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191| no|
|      8| 41|blue-collar| married|            unknown|unknown|     no|     no|telephone|      1|  may|        mon|     261|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191| no|
|      9| 24| technician|  single|professional.course|     no|    yes|     no|telephone|      1|  may|        mon|     261|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191| no|
|     11| 41|blue-collar| married|            unknown|unknown|     no|     no|telephone|      1|  may|        mon|     261|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191| no|
|     12| 25|   services|  single|        high.school|     no|    yes|     no|telephone|      1|  may|        mon|     261|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191| no|
|     13| 29|blue-collar|  single|        high.school|     no|     no|    yes|telephone|      1|  may|        mon|     261|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191| no|
|     14| 57|  housemaid|divorced|           basic.4y|     no|    yes|     no|telephone|      1|  may|        mon|     261|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191| no|
|     18| 46|blue-collar| married|           basic.6y|unknown|    yes|    yes|telephone|      1|  may|        mon|     261|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191| no|
|     19| 50|blue-collar| married|           basic.9y|     no|    yes|    yes|telephone|      1|  may|        mon|     261|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191| no|
|     20| 39| management|  single|           basic.9y|unknown|     no|     no|telephone|      1|  may|        mon|     261|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191| no|
|     22| 55|blue-collar| married|           basic.4y|unknown|    yes|     no|telephone|      1|  may|        mon|     261|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191| no|
|     23| 55|    retired|  single|        high.school|     no|    yes|     no|telephone|      1|  may|        mon|     261|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191| no|
|     25| 37|     admin.| married|        high.school|     no|    yes|     no|telephone|      1|  may|        mon|     261|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191| no|
|     26| 35| technician| married|  university.degree|     no|     no|    yes|telephone|      1|  may|        mon|     261|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191| no|
|     27| 59| technician| married|            unknown|     no|    yes|     no|telephone|      1|  may|        mon|     261|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191| no|
|     29| 54| technician|  single|  university.degree|unknown|     no|     no|telephone|      1|  may|        mon|     261|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191| no|
|     30| 55|    unknown| married|  university.degree|unknown|unknown|unknown|telephone|      1|  may|        mon|     261|       1|  999|       0|nonexistent|         1.1|        93.994|        -36.4|    4.857|       5191| no|
+-------+---+-----------+--------+-------------------+-------+-------+-------+---------+-------+-----+-----------+--------+--------+-----+--------+-----------+------------+--------------+-------------+---------+-----------+---+
only showing top 20 rows

In [ ]:
avg_age = full_outer_join_df.groupBy('job').avg('age')
avg_age.show()

+-------------+------------------+
|          job|          avg(age)|
+-------------+------------------+
|   management| 42.36285909712722|
|      retired|62.031995346131474|
|      unknown| 45.53495440729483|
|         NULL|              NULL|
|self-employed|             39.95|
|      student| 25.89485714285714|
|  blue-collar| 39.55674448767834|
| entrepreneur|41.723214285714285|
|       admin.| 38.18529891565109|
|   technician|38.504227859368044|
|     services|37.928139183055976|
|    housemaid|              45.5|
|   unemployed| 39.74333662388944|
+-------------+------------------+

In [ ]:
avg_age2 = full_outer_join_df.groupBy('job','marital').avg('age')
avg_age2.show()

+------------+--------+------------------+
|         job| marital|          avg(age)|
+------------+--------+------------------+
|entrepreneur| married|42.527544351073765|
|     unknown| married| 48.27038626609442|
|     student| unknown|              30.0|
|  unemployed|  single|33.254980079681275|
|      admin.|  single|33.645935483870964|
| blue-collar|divorced| 42.84065934065934|
|   housemaid| married|45.745173745173744|
|     unknown|  single|36.608108108108105|
|     unknown| unknown|40.333333333333336|
|     unknown|divorced| 50.92307692307692|
|        NULL|    NULL|              NULL|
|  technician|divorced| 42.05297157622739|
|entrepreneur|divorced| 44.10614525139665|
|     student|  single|25.555825242718445|
|  unemployed| unknown|              47.2|
|  unemployed| married| 41.69668246445497|
|  management| unknown|              51.0|
|     student| married|30.634146341463413|
|      admin.| married| 40.29874333587205|
|  management| married| 43.75634274772619|
+------------+--------+------------------+
only showing top 20 rows

In [ ]:
from pyspark.sql.functions import max
max_dur = full_outer_join_df.agg(max('duration'))
max_dur.show()

+-------------+
|max(duration)|
+-------------+
|         4918|
+-------------+

In [ ]:
from pyspark.sql.functions import min
min_dur = full_outer_join_df.agg(min('duration'))
min_dur.show()

+-------------+
|min(duration)|
+-------------+
|            0|
+-------------+

In [ ]:
piv_df = full_outer_join_df.groupBy('job').pivot('marital').avg('age')
piv_df.show()

+-------------+----+------------------+------------------+------------------+------------------+
|          job|null|          divorced|           married|            single|           unknown|
+-------------+----+------------------+------------------+------------------+------------------+
|   management|NULL|46.190332326283986| 43.75634274772619| 33.97205588822355|              51.0|
|      retired|NULL| 64.45689655172414|61.836606441476825| 55.68817204301075|              61.0|
|      unknown|NULL| 50.92307692307692| 48.27038626609442|36.608108108108105|40.333333333333336|
|         NULL|NULL|              NULL|              NULL|              NULL|              NULL|
|self-employed|NULL| 42.75187969924812| 42.23366555924695| 33.53298153034301|              39.4|
|      student|NULL|34.888888888888886|30.634146341463413|25.555825242718445|              30.0|
|  blue-collar|NULL| 42.84065934065934| 40.89139865370232|33.342465753424655| 41.57142857142857|
| entrepreneur|NULL| 44.10614525139665|42.527544351073765| 35.49261083743843|              34.0|
|       admin.|NULL|       43.28203125| 40.29874333587205|33.645935483870964|35.785714285714285|
|   technician|NULL| 42.05297157622739| 40.75579176887435| 33.71916010498688|             32.75|
|     services|NULL| 42.08458646616541| 39.87521815008726| 32.04225352112676|              40.0|
|    housemaid|NULL| 49.62111801242236|45.745173745173744| 38.46218487394958|              40.0|
|   unemployed|NULL|42.604838709677416| 41.69668246445497|33.254980079681275|              47.2|
+-------------+----+------------------+------------------+------------------+------------------+